/*
Theme Name: Twenty Seventeen
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
Version: 2.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentyseventeen
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Accessibility
3.0 Alignments
4.0 Clearings
5.0 Typography
6.0 Forms
7.0 Formatting
8.0 Lists
9.0 Tables
10.0 Links
11.0 Featured Image Hover
12.0 Navigation
13.0 Layout
   13.1 Header
   13.2 Front Page
   13.3 Regular Content
   13.4 Posts
   13.5 Pages
   13.6 Footer
14.0 Comments
15.0 Widgets
16.0 Media
   16.1 Galleries
17.0 Customizer
18.0 SVGs Fallbacks
19.0 Media Queries
20.0 Print
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
Styles based on Normalize v5.0.0 @link https://github.com/necolas/normalize.css
--------------------------------------------------------------*/
.woocommerce-breadcrumb {
    padding-bottom: 0px!important;
    margin-bottom: 0!important;
    border-bottom: unset!important;
    font-size: 13px!important;
    font-size: .8125rem!important;
}
.woocommerce-breadcrumb a 
{
	box-shadow:unset!important;
}
.woocommerce-breadcrumb a {
    font-size: 12px!important;
    font-family: "Montserrat"!important;
    color: rgb(167, 170, 172)!important;
    margin-right: 11px;
    margin-left: 11px;
}
.woocommerce-breadcrumb 
{
	color:#0873ba!important;
}
ul.price-details del,ul.price-details ins 
{
	margin-right:10px!important;
}

section.related.products h2 {
  font-size: 28px!important;
  font-family: "Montserrat"!important;
  color: rgb(32, 32, 32)!important;
  font-weight: bold!important;
  
}

section.related.products h2.woocommerce-loop-product__title {
  font-size: 12px!important;
  font-family: "Montserrat"!important;
  color: rgb(0, 0, 0)!important;
      text-transform: capitalize!important;
}


div#primary .woocommerce-breadcrumb {
  color: #0873ba!important;
  border-bottom: 1px solid #e1e1e1!important;
  padding: 14px 0;
  padding-bottom: 10px!important;
  /* font-size: 9px!important; */
  padding-left: 32px;
}
div#primary .woocommerce-breadcrumb a {
  font-size: 12px!important;
  font-family: "Montserrat"!important;
  color: rgb(167, 170, 172)!important;
  margin-right: 11px;
  margin-left: 11px;
  text-transform: capitalize;
}
select.orderby {
  height: 34px;
  border-color: #e8e7e9;
  font-family: "Montserrat"!important;
}
section.banner.large .item {
  height: unset!important;
}

/* Woocommerce Styles */

/* 
A couple things to note...
1. This code was written very specifically for my base child theme so it might not work out of the box with every theme.
   I have it here mostly to share with anyone who might be looking to do the same thing I was.
2. I generally add my WooCommerce CSS overrides to a custom-woo.css file then use wp_enqueue_style() to call it 
   so that it enqueues after the default WooCommerce Stylesheets
*/

.woocommerce-message { display: none;  }
.woocommerce-cart.full-width-content .content,
.woocommerce-checkout.full-width-content .content { max-width: 100%; }

.woocommerce-cart .woocommerce table.shop_table td.actions {
  border-top: 1px solid #e6e6e6;
  background: #f7f7f7;
  border-bottom: 0px solid #e6e6e6;
}
.woocommerce-cart .entry-content form { width: 60%; float: left;  }
.woocommerce-cart .woocommerce .cart-collaterals {
    width: 33%;
  float: right;
}
.woocommerce-cart .woocommerce .cart-collaterals h2 { display: none;  }
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals { width: 100%; }


#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr th, 
.woocommerce-checkout .cart-collaterals .cart_totals tr th,
#add_payment_method table.cart th, 
.woocommerce-cart table.cart th, 
.woocommerce-checkout table.cart th,
.woocommerce-checkout table.shop_table th { color: #034997; font-size: 14px; font-size: 1.4rem; }

#add_payment_method .cart-collaterals .cart_totals tr td, 
.woocommerce-cart .cart-collaterals .cart_totals tr td, 
.woocommerce-checkout .cart-collaterals .cart_totals tr td, 
#add_payment_method table.cart td,
.woocommerce-cart table.cart td,
.woocommerce-checkout table.cart td,
.woocommerce-checkout table.shop_table td { color: #555; font-size: 16px; font-size: 1.6rem; }

.woocommerce-cart .woocommerce table.shop_table th {   border-bottom: 2px solid #034997; }

.woocommerce-cart .woocommerce table.shop_table,
.woocommerce-checkout .woocommerce table.shop_table {
  border: 1px solid #e6e6e6;
  margin: 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-radius: 0;
  border-bottom: none;
    border-right: none;
     margin-bottom: 35px;
      border-bottom: 1px solid #e6e6e6;
}

body #add_payment_method #payment ul.payment_methods li input, 
body.woocommerce-cart #payment ul.payment_methods li input, 
body.woocommerce-checkout #payment ul.payment_methods li input { width: auto;   margin: -2px .5em 0 0; }

body .woocommerce form .form-row .input-checkbox { width: auto;  margin: -2px 5px 0 0; }

#add_payment_method .cart-collaterals .cart_totals tr td, 
#add_payment_method .cart-collaterals .cart_totals tr th, 
body.woocommerce-cart .cart-collaterals .cart_totals tr td, 
body.woocommerce-cart .cart-collaterals .cart_totals tr th, 
body.woocommerce-checkout .cart-collaterals .cart_totals tr td, 
body.woocommerce-checkout .cart-collaterals .cart_totals tr th,
body .woocommerce table.shop_table th { 
  border-top: none; 
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  text-align: right;
  padding: 10px 20px;
}

body #add_payment_method table.cart td, 
body #add_payment_method table.cart th, 
body.woocommerce-cart table.cart td, 
body.woocommerce-cart table.cart th, 
body.woocommerce-checkout table.cart td, 
body.woocommerce-checkout table.cart th { border-right: 1px solid #e6e6e6; }

#add_payment_method .cart-collaterals .cart_totals tr th, 
body.woocommerce-cart .cart-collaterals .cart_totals tr th, 
body.woocommerce-checkout .cart-collaterals .cart_totals tr th { }

.woocommerce-cart .cart-collaterals .cart_totals table th { border-bottom: 1px solid #e6e6e6;  }

body .woocommerce #respond input#submit.alt, 
body .woocommerce a.button.alt, 
body .woocommerce button.button.alt, 
body .woocommerce input.button.alt {
  background: #72A40D !important; 
  font-weight: 500;
}

body .woocommerce #respond input#submit.alt:hover, 
body .woocommerce a.button.alt:hover, 
body .woocommerce button.button.alt:hover, 
body .woocommerce input.button.alt:hover {
  background: #034997 !important; 
}

body .woocommerce .cart .button, 
body .woocommerce .cart input.button,
body .woocommerce #respond input#submit, 
body .woocommerce a.button, 
body .woocommerce button.button, 
body .woocommerce input.button { background: #034997 !important; color: #fff; font-weight: 500;   border-radius: 40px; }

body .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  float: right;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25em;
  padding: 1em;
  border-radius: 40px;
  margin-top: .5em;
}

body .woocommerce form .form-row-first, 
body .woocommerce form .form-row-last, 
body .woocommerce-page form .form-row-first, 
body .woocommerce-page form .form-row-last { width: 49%; }

body .woocommerce #respond input#submit.disabled, 
body .woocommerce #respond input#submit:disabled, 
body .woocommerce #respond input#submit:disabled[disabled], 
body .woocommerce a.button.disabled, 
body .woocommerce a.button:disabled, 
body .woocommerce a.button:disabled[disabled], 
body .woocommerce button.button.disabled, 
body .woocommerce button.button:disabled, 
body .woocommerce button.button:disabled[disabled], 
body .woocommerce input.button.disabled, 
body .woocommerce input.button:disabled, 
body .woocommerce input.button:disabled[disabled] { background: #ccc; }


body .woocommerce a.checkout-button.button.alt { border-radius: 40px; }

body .woocommerce #content table.cart td.actions .coupon, 
body .woocommerce table.cart td.actions .coupon { width: 68%; }

body #add_payment_method table.cart td.actions .coupon .input-text, 
body.woocommerce-cart table.cart td.actions .coupon .input-text, 
body.woocommerce-checkout table.cart td.actions .coupon .input-text {
  padding: 8px 6px 7px;
  width: 65%;
}

body .woocommerce table.shop_table td { padding: 15px; }

body .woocommerce-checkout table.shop_table td { text-align: right;
  border-right: 1px solid #e6e6e6;   border-top: 0; }

.woocommerce a.remove { margin: 0 auto;  }
.woocommerce-cart .woocommerce table.shop_table th.product-remove,
.woocommerce-cart .woocommerce table.shop_table th.product-name { text-align: center; }
.woocommerce-cart .woocommerce table.shop_table th.product-price,
.woocommerce-cart .woocommerce table.shop_table th.product-quantity,
.woocommerce-cart .woocommerce table.shop_table th.product-subtotal { text-align: right; }

.woocommerce-cart .woocommerce table.shop_table .cart_item td.product-price,
.woocommerce-cart .woocommerce table.shop_table .cart_item td.product-quantity,
.woocommerce-cart .woocommerce table.shop_table .cart_item td.product-subtotal { text-align: right; }

.woocommerce-checkout #add_payment_method #payment ul.payment_methods li, 
.woocommerce-checkout #payment ul.payment_methods li { list-style: none; }

.woocommerce-checkout .woocommerce .col2-set { width: 47.8260869565%; float: left; margin-right: 4.347826087%; }
.woocommerce-checkout .woocommerce .col2-set .col-1,
.woocommerce-checkout .woocommerce .col2-set .col-2 { margin-bottom: 2em; width: 100%; float: none; }
.woocommerce-checkout #order_review_heading,
.woocommerce-checkout #order_review { background: #fff; width: 47.8260869565%; float: right; margin-right: 0; }
.woocommerce-checkout #ship-to-different-address-checkbox { width: auto; float: right; margin-left: 15px; margin-top: 10px; opacity: 1; position: static; }
.woocommerce-checkout #ship-to-different-address label { font-size: 24px;   font-weight: 700; line-height: 1; margin: 0; margin-bottom: 1em; padding: 0; text-transform: uppercase; color: #000; }
.woocommerce-checkout .woocommerce form .form-row.create-account label { padding-top: 2px; font-weight: bold; }

.woocommerce-checkout .payment-fixed { position: fixed; z-index: 9; box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 2em; left: 52%; margin-left: 0; padding: 20px; top: 0; width: 45.5% !important; -webkit-transition: padding .1s ease-in; -moz-transition: padding .1s ease-in; -o-transition: padding .1s ease-in; -ms-transition: padding .1s ease-in; transition: padding .1s ease-in; }

.product-shipping-message { font-size: 16px; text-align: center; text-transform: uppercase; padding: 10px 0px; border-top: 1px solid #139248; border-bottom: 1px solid #139248; }

body .woocommerce table.shop_table tbody th, 
body .woocommerce table.shop_table tfoot td, 
body .woocommerce table.shop_table tfoot th { border-bottom: none; }

body .woocommerce form .form-row input.input-text, 
body .woocommerce form .form-row textarea { max-width: 100%; }

body .woocommerce .product-name a { color: #000; pointer-events: none; cursor: default; }

@media only screen and (max-width: 1139px) {
  .woocommerce-cart .entry-content form { width: 64%; }
}

@media only screen and (max-width: 980px) {

  .woocommerce-cart .entry-content form {
    width: 80%;
    float: none;
    margin: 0 auto;
  }
  .woocommerce-cart .woocommerce .cart-collaterals {
    width: 80%;
    float: None;
    margin: auto;
  }
  body .woocommerce #content table.cart td.actions .coupon, body .woocommerce table.cart td.actions .coupon { width: 100%; }
  body #add_payment_method table.cart td.actions .coupon .input-text, body.woocommerce-cart table.cart td.actions .coupon .input-text, body.woocommerce-checkout table.cart td.actions .coupon .input-text { width: 48%; }
}

@media only screen and (max-width: 650px) {
  
  .woocommerce-cart .entry-content form {
    width: 100%;

  }
  .woocommerce-cart .woocommerce .cart-collaterals {
    width: 100%;

  }

  .woocommerce-checkout .woocommerce .col2-set { width: 100%; float: none; margin-right: 0; }
  .woocommerce-checkout #order_review_heading, 
  .woocommerce-checkout #order_review { width: 100%; float: none; }
  
}

/****************CHECKOUT***************/
.woocommerce form .form-row {
    width: 100% !important;
}
.woocommerce-checkout #payment div.payment_box input.input-text, .woocommerce-checkout #payment div.payment_box textarea {
    width: 100% !important;
    padding: 8px;
}
.woocommerce #payment .form-row select, .woocommerce-page #payment .form-row select {
    width: 100%;
    height: 30px;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: left;
    width: 100%;
}
.custom-checkout h3 {
    background-color: #165f1c;  /****CHANGE TO COLOR YOU WANT TO USE FOR TITLE BACKGROUND ****/
    width: 45%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
    color: #FFF;
    float: right;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    padding: .6180469716em;
    background-color: #f2f2f2;
    color: #43454b;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-weight: 400;
   border:solid 2px #e4e4e4;
}

#wc_checkout_add_ons {
    width: 45%;
    float: right;
    text-align: center;
}

@media screen and (min-width: 980px) {
.woocommerce-shipping-fields h3, .woocommerce-billing-fields h3 {width:100%;}
.woocommerce .col2-set, .woocommerce-page .col2-set {
 width: 45%;
 float: left;
}
.woocommerce-checkout-review-order{
 width: 45%;
 float: right;
}
}
@media screen and (max-width: 979px) {
.custom-checkout h3 {
 width: 100%;
}
}