/* .login-dropdown-menu {
    display: none;
} */

#login-drop {
    position: relative;
    position: absolute;
    left: 0;
    top: 0;
}


/* #login-drop:hover .login-dropdown-menu {
    display: block!important;
} */

.login-dropdown-menu {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

a.dropdown-item-1 {
    padding: 10px 10px;
    display: block;
}