@font-face {
    font-family: 'shapiro35_feather_text';
    src: url('../fonts/shapiro_35_feather_text-webfont.woff2') format('woff2'), url('../fonts/shapiro_35_feather_text-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shapiro45_welter_text';
    src: url('../fonts/shapiro_45_welter_text-webfont.woff2') format('woff2'), url('../fonts/shapiro_45_welter_text-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shapiro55_middle_extd';
    src: url('../fonts/shapiro_55_middle_extd-webfont.woff2') format('woff2'), url('../fonts/shapiro_55_middle_extd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shapiro55_middle_wide';
    src: url('../fonts/shapiro_55_middle_wide-webfont.woff2') format('woff2'), url('../fonts/shapiro_55_middle_wide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}