@media(max-width:1336px) {
    .search input {
        width: unset!important;
    }
}

@media(max-width:1199px) {}

@media(max-width:1199px) {
    .logo-section .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .logo {
        margin-bottom: 25px;
    }
    ul.products.columns-4 {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 991px) {
    .offer-side {
        display: none;
    }
    .offerss .item::before {
        display: none;
    }
    ul.products.columns-4 li {
        width: 50%!important;
        margin: 0!important;
    }
    ul.products.columns-4 li {
        width: 50%!important;
        margin: 0!important;
        margin-bottom: 90px!important;
    }
    li.lj a {
        display: none;
    }
    li.ship span {
        display: none;
    }
    li.contact span span {
        display: none;
    }
}

@media(max-width: 767px) {
    .top-section {
        background-color: rgb(8, 115, 186);
        height: unset;
        color: white;
        display: flex;
        align-items: center;
    }
    footer .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        /* text-align: center; */
    }
    td.product-thumbnail {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        border: unset!important;
    }
    .woocommerce table.shop_table_responsive tr td::before,
    .woocommerce-page table.shop_table_responsive tr td::before {
        display: none;
    }
    .woocommerce #content table.cart .product-thumbnail,
    .woocommerce table.cart .product-thumbnail,
    .woocommerce-page #content table.cart .product-thumbnail,
    .woocommerce-page table.cart .product-thumbnail {
        display: block!important;
    }
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td {
        display: flex!important;
        justify-content: center!important;
    }
    tr.woocommerce-cart-form__cart-item.cart_item {
        border-bottom: 1px solid #d8d5d5!important;
        padding: 25px 0;
    }
    .woocommerce-cart .woocommerce table.shop_table,
    .woocommerce-checkout .woocommerce table.shop_table {
        border: unset!important;
    }
    body #add_payment_method table.cart td,
    body #add_payment_method table.cart th,
    body.woocommerce-cart table.cart td,
    body.woocommerce-cart table.cart th,
    body.woocommerce-checkout table.cart td,
    body.woocommerce-checkout table.cart th {
        border-right: 1px solid white!important;
    }
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background-color: unset!important;
    }
    .woocommerce #content table.cart td.actions .coupon .button,
    .woocommerce #content table.cart td.actions .coupon .input-text,
    .woocommerce #content table.cart td.actions .coupon input,
    .woocommerce table.cart td.actions .coupon .button,
    .woocommerce table.cart td.actions .coupon .input-text,
    .woocommerce table.cart td.actions .coupon input,
    .woocommerce-page #content table.cart td.actions .coupon .button,
    .woocommerce-page #content table.cart td.actions .coupon .input-text,
    .woocommerce-page #content table.cart td.actions .coupon input,
    .woocommerce-page table.cart td.actions .coupon .button,
    .woocommerce-page table.cart td.actions .coupon .input-text,
    .woocommerce-page table.cart td.actions .coupon input {
        width: 100%!important;
        box-sizing: border-box!important;
        margin-top: 23px!important;
    }
    .banner {
        height: unset!important;
    }
}

@media(max-width: 560px) {
    li.search {
        display: none;
    }
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .right-content li {
        margin-left: 0;
    }
    li.ship {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .join-free span {
        display: none;
    }
    li.ship {
        display: none;
    }
    .right-content li:before {
        display: none;
    }
    .logo-section .container-fluid {
        flex-direction: row;
    }
    .logo {
        margin-bottom: 0;
    }
    .mb {
        display: none;
    }
    .banner .item {
        height: unset;
    }
    .img-box1 {
        margin-top: 25px;
    }
    .myproduct .owl-nav {
        right: 13px;
        top: -14%;
    }
    .mostselling .owl-nav {
        display: unset;
        /* position: absolute; */
        width: unset;
        /* float: right; */
        right: 0;
        top: unset;
        justify-content: space-between;
    }
    .mostselling .owl-nav {
        display: unset;
        position: unset;
        width: 100%;
        float: unset;
        right: 0;
        top: -72px;
        justify-content: space-between;
    }
    h2.product-name.text-center {
        margin-top: 42px;
    }
    ul.products.columns-4 li {
        width: 100%!important;
        margin: 0!important;
        margin-bottom: 90px!important;
    }
    .woocommerce .woocommerce-ordering,
    .woocommerce-page .woocommerce-ordering {
        float: unset;
    }
    .banner-title h2 {
        font-size: 18px;
    }
    section.most-selling:after 
    {
        display:none;
    }
    .product-active {
       
        width: 100%!important;
    }
    .banner {
        height: unset!important;
       
    }
}

@media(max-width: 900px) {}

@media (max-width: 1440px) {}

@media (max-width: 1336px) {}

@media (min-width: 768px) {}

@media(min-width: 992px) {}

@media(min-width: 1200px) {}

@media(min-width: 1440px) {}

@media (min-width: 576px) {}