/*...ACCORDION................ START */

.panel-title>a:before {
  float: right !important;
  font-family: FontAwesome;
  content: "-";
  padding-right: 5px;
  font-weight: bold;
  font-size: 21px;
  font-family: fantasy;
}

.panel-title>a.collapsed:before {
  float: right !important;
  content: "+";
  font-weight: bold;
  font-size: 21px;
  font-family: fantasy;
}

.panel-title>a:hover, .panel-title>a:active, .panel-title>a:focus {
  text-decoration: none;
  box-shadow: 0;
}

button:focus {
  box-shadow: 0;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: unset!important;
}

.panel-title>a:hover, .panel-title>a:active, .panel-title>a:focus {
  display: block;
  text-decoration: none;
  width: 100%;
}

.panel-group a {
  width: 100%;
  display: block;
  padding: 10px 14px;
  background: #cecdd0;
  color: black;
}

.panel-group .h4, h4 {
  font-size: 17px;
}

.panel-group {
  padding: 110px 0;
}

.panel-body {
  padding: 0px 16px 16px 16px;
}

/*...ACCORDION................ END */

/*..... ISOTOP START........ */

* {
  box-sizing: border-box;
}



/* Center website */

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}



/* Add padding BETWEEN each column */

/* .row, .row>.column {
  padding: 8px;
} */

/* Create three equal columns that floats next to each other */

.column {
  float: left;
  width: 33.33%;
  display: none;
  /* Hide all elements by default */
}

/* Clear floats after rows */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */

.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */

.show {
  display: block;
}

/* Style the buttons */

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active-tab {
  background-color: #666;
  color: white;
}

.isotop .content {
  display: none;
}

.isotop .show .content {
  display: block;
}

/*..... ISOTOP END........ */




/*..... GALLERY START........ */

.gallery img {
  width: 100%;
  height: 100%;
}

.gallery a {
  margin-bottom: 30px;
}

.box {
  position: relative;
}

.box img {
  width: 100%;
}

/* .box:before {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 0%;
  background: #fff;
  content: '';
  transition: 0.5s;
  z-index: 1111111;
}
.box:after {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 50%;
  height: 0%;
  background: #fff;
  content: '';
  transition: 0.5s;
  z-index: 1111111;
}
.north:hover .box:before
{
  height: 100%;
}
.north:hover .box:after
{
  height: 100%;
}
.north .box:hover:after,.north .box:hover:before
{
  height: 0%;
} */

/*..... GALLERY START........ */

.clip-svg {
  clip-path: url(#myClip);
  
}
.clip-svg:hover{
  animation:clip 5s infinite;
  transition: 1s ease-in;
}
@keyframes clip {
  0%
  {
    clip-path: url(#myClip);
  }
  50%
  {
    clip-path: url(#myClip1);
  }
  100%
  {
    clip-path: url(#myClip);
  }
}

.hash
{
  background: url(../images/bg.jpg);
    background-size: cover;
    background-position-y: bottom;
    margin: 200px 0;
    background-repeat: no-repeat;
}

div.hash {
  width: 100%;
  height: 280px;
  background: white;
  background-size: cover;
  transition: 0.4s cubic-bezier(1, -1, 0, 2);
  clip-path: polygon(0% 100%, 50% 90%, 100% 100%);
 
  position: relative;
  top: 1px;
}



.svg-normal-mask {
  mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/stampTiles.svg);
}

.svg-border-mask {
  -webkit-mask-box-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/stampTiles.svg) 30 repeat;
  mask-border: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/stampTiles.svg) 30 repeat;
}

.i {
  mask: url(#masking);
  }





  /* box animation */


  .box2 {
    width: 100%;
    background: rebeccapurple;
    height: 100%;
    display: inline-block;
    transition: transform 1s ease-in-out;
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: right;
}
.box-cont:hover .box2 {
  transform: translate(0px,0px) rotateY(-180deg);
}
section.box1
{
  padding: 110px 0;
 
}
.box-cont
{
  width: 200px;
  background: gray;
  height: 200px;
  border: 5px solid black;
  position: relative;
 }
 .box-cont h3 {
  position: absolute;
  left: 0;
  top: 0;
}
 


.sample 
{
  padding:150px 0;
}