html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'star';
    src: url('../fonts/star.eot');
    src: url('../fonts/star.eot?#iefix') format('embedded-opentype'), url('../fonts/star.woff') format('woff'), url('../fonts/star.ttf') format('truetype'), url('../fonts/star.svg#star') format('svg');
    font-weight: normal;
    font-style: normal;
}

.form-control:focus {
    color: unset;
    background-color: unset;
    border-color: #959292;
    outline: 0;
    box-shadow: unset;
}

.form-control {
    border-radius: 0;
    background: transparent;
    border-color: #cccccc;
    transition: 0.5s;
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0)!important;
}

 ::-webkit-input-placeholder {
    /* Edge */
    color: black;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

input::placeholder,
textarea::placeholder {
    color: black!important;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: unset;
}


/* header {

transition: 0.2s;

} */

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.btn-outline-success.focus,
.btn-outline-success:focus {
    box-shadow: unset;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: unset;
    box-shadow: unset;
}


/*

*

* ==========================================

* CUSTOM UTIL CLASSES

* ==========================================

*

*/

.megamenu {
    position: static;
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
}


/*

*

* ==========================================

* FOR DEMO PURPOSES

* ==========================================

*

*/

body {
    min-height: 100vh;
}

code {
    color: #745eb1;
    background: #fff;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
}

.text-uppercase {
    letter-spacing: 0.08em;
}

ul.navbar-nav.mx-auto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600!important;
}

.right-content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-section {
    background: white;
    padding: 20px 0px;
    border-bottom: 1px solid #e1e1e1;
}

.search input {
    border-width: 0.695px;
    border-color: rgb(147, 194, 225);
    border-style: solid;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0);
    width: 419px!important;
    height: 29px;
}

.input-group-append {
    background: -moz-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    background: -ms-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    width: 92px;
    height: 29px;
    border-radius: 0 50px 50px 0;
    overflow: hidden;
}

.input-group-text {
    background-color: unset;
    border: unset;
    border-radius: unset;
    color: white;
}

.right-content li {
    margin-left: 38px;
}

.right-content li {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 600;
}

.right-content img {
    margin-right: 5px;
}

.right-content span {
    margin: 0px 0px 0px 8px;
}

span.price {
    margin-left: 0px;
}

.right-content li:before {
    position: absolute;
    left: -18px;
    top: 0;
    width: 1px;
    height: 13px;
    background: rebeccapurple;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    background: rgb(150, 150, 150);
}

.right-content li.search:before {
    display: none;
}

.right-content li.ship:before {
    display: none;
}

.right-content li {
    position: relative;
}

.top-section ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

li.search {
    margin-right: 17px;
}

.top-section {
    background-color: rgb(8, 115, 186);
    height: 38px;
    color: white;
}

.top-section a {
    font-size: 12px;
    font-family: "Montserrat";
    color: white;
    line-height: 2.318;
    font-weight: 200;
}

.top-section span {
    margin-right: 47px;
}

.top-section {
    background-color: rgb(8, 115, 186);
    height: 38px;
    color: white;
    display: flex;
    align-items: center;
}

.top-section span {
    margin-right: 21px;
}


/* .dropdown:hover .dropdown-menu {

display: block;

top: 45px;

display: flex;

justify-content: center;

text-align: center;

} */

.title {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

@media (min-width: 992px) {
    /* .dropdown-menu {

    left: unset;

}

.dropdown:hover .dropdown-menu {

    display: block;

    top: 31px;

    display: flex;

    justify-content: center;

    text-align: center;

    left: 0%;

    width: 100vh;

    display: block;

}

.megamenu {

    position: static;

    position: relative;

} */
}

.menusection {
    background: #f3f3f0;
}

.menusection .bg-white {
    background-color: transparent!important;
}

.dropdown-menu .bg-white {
    background-color: white!important;
}

.menusection .nav {
    background: transparent;
}

.banner .item {
    /* height: 210px; */
    display: flex;
    align-items: center;
    padding-left: 85px;
}

.banner .banner1 {
    background: url(../images/slider/banner1.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}

.banner .banner2 {
    background: url(../images/slider/banner2.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}

.banner .banner3 {
    background: url(../images/slider/banner3.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}

.banner .banner4 {
    background: url(../images/slider/banner4.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-title h2 {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.banner-title a {
    font-size: 10px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

.banner-title span {
    color: rgb(8, 115, 186);
}

.banner-title span.red {
    color: #da222a;
}

.bread-crumb li a {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(167, 170, 172);
}

.bread-crumb li.active a {
    color: rgb(8, 115, 186);
}

section.bread ul {
    display: flex;
}

section.bread ul li {
    margin-right: 30px;
}

section.bread {
    border-bottom: 1px solid #e1e1e1;
    padding: 12px 0;
}

.product-thumb {
    background-color: rgb(225, 225, 225);
    width: 111px;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 65px;
    overflow: hidden;
}

.product-thumb img {
    width: 100%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: transparent;
}

.product-active {
    display: inline-block;
    padding: 24px;
}

.percentage {
    border-radius: 5px;
    background-color: rgb(225, 31, 29);
    width: 41px;
    height: 41px;
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 87px;
    top: 20px;
}

ul.wish-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.wish-list {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: 600;
}

ul.wish-list span {
    margin-right: 16px;
}

ul.wish-list:last-child span {
    margin-right: unset;
    /*margin-left: 16px;*/
}

ul.wish-list img {
    margin-right: 11px;
}

.product-name {
    font-size: 25px;
    font-family: "Montserrat";
    color: rgb(32, 32, 32);
    font-weight: bold;
    margin: 0;
}

.p-subtitle {
    font-size: 12px;
    font-family: "Montserrat";
    /* color: rgb(8, 115, 186); */
    line-height: 3.333;
    text-align: left;
    font-weight: 600;
}

span.title-highlight {
    color: rgb(8, 115, 186);
}

.price-main span {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(8, 115, 186);
    font-weight: bold;
}

.price-main del {
    color: rgb(134, 134, 134);
    text-decoration: line-through;
}

span.stock {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(10, 176, 45);
}

ul.price-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
}

.sbmt {
    display: flex;
}

.tab-review {
    display: flex;
}

.tab-review li {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(32, 32, 32);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 25px;
    cursor: pointer;
}

.tab-review p {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(143, 143, 143);
    line-height: 1.667;
}

.tab-details-sec {
    position: relative;
    min-height: 250px;
}

p.data {
    position: absolute;
    left: 0;
    top: 0;
}

ul.tab-review {
    margin-bottom: 17px;
}

.tab-line {
    width: 2px;
    height: 15px;
    background: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.tab-btn.active {
    color: gray;
}

.data {
    display: none;
}

.data.active {
    display: block;
}

section.product-display {
    border-bottom: 1px solid #e1e1e1;
    padding: 35px 0;
}

.related-products .percentage {
    right: 25px;
    top: 25px;
}

.product-active {
    display: inline-block;
    padding: 51px 24px;
    width: 270px;
    overflow: hidden;
}

.product-active img {
    width: 100%;
}

.related-products .owl-carousel .owl-item img {
    display: block;
    width: 80%;
}

section.related-products {
    padding: 29px 0;
}

.related-products .p-subtitle {
    text-align: center;
}


/* .sbmt button {

background: -moz-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);

background: -webkit-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);

background: -ms-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);

width: 81px;

height: 27px;

} */

.sbmt button {
    background: -moz-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    background: -ms-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    width: 81px;
    height: 27px;
    line-height: 0;
    border-radius: 51px;
    font-size: 10px;
    font-family: "Montserrat";
    text-transform: uppercase;
    box-shadow: unset;
    border: unset;
}

.sadeen-product-button a {
    background: -moz-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    background: -ms-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    width: 81px;
    height: 27px;
    line-height: 3;
    border-radius: 51px;
    font-size: 10px;
    font-family: "Montserrat";
    text-transform: uppercase;
    box-shadow: unset!important;
    border: unset;
    color: white;
    border: unset;
    text-align: center;
}

span.woocommerce-Price-amount.amount {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}

.sbmt select {
    background-color: rgb(255, 255, 255);
    box-shadow: -0.684px 1.879px 6px 0px rgba(0, 0, 0, 0.23);
    width: 81px;
    height: 27px;
    border-radius: 51px;
    padding: 0 7px;
}

li.sbmt .btn {
    margin-right: 13px;
}

.btn-primary {
    border: unset;
}

.qty {
    font-size: 10px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.sbmt {
    position: relative;
    top: 9px;
}

.qty {
    font-size: 10px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: 600;
    position: absolute;
    right: 56px;
    top: 2px;
    border-right: 1px solid #cbc9c9;
    padding-right: 4px;
    padding-right: 4px;
    margin-right: 5px;
}

form.cart {
    display: flex;
    flex-direction: column-reverse;
}

.sbmt select {
    background-color: rgb(255, 255, 255);
    box-shadow: -0.684px 1.879px 6px 0px rgba(0, 0, 0, 0.23);
    width: 81px;
    height: 27px;
    border-radius: 51px;
    padding: 0 0 0 43px;
}

ul.r-p-item .sbmt {
    position: relative;
}

ul.r-p-item .qty {
    font-size: 10px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: 600;
    position: absolute;
    top: 5px;
    border-right: 1px solid #cbc9c9;
    padding-right: 4px;
    left: 11px;
}

.price-w {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 3px 14px 0 19px;
}

ul.r-p-item .sbmt {
    margin-top: 10px;
}

.add-se {
    width: 100%;
}

.add-se img {
    width: 100%;
}

.client-slider .img {
    width: unset;
}

section.client {
    padding: 25px 0;
}

.uline {
    background: -moz-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    background: -ms-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    width: 100%;
    height: 4px;
}

p {
    font-size: 14.38px;
    font-family: "Montserrat";
    color: rgb(96, 96, 96);
    line-height: 1.8;
    text-align: justifyLeft;
}

section.online-store {
    padding: 36px 0;
}

h2.product-name {
    margin-bottom: 11px;
}

.footer-sec .head {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(25, 25, 25);
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 15px;
}

footer .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer a {
    font-size: 14.38px;
    font-family: "Montserrat";
    color: rgb(96, 96, 96);
    line-height: 2.8;
    text-align: justifyLeft;
}

.footer-bottom ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer-bottom ul li {
    font-size: 10px;
    font-family: "Myriad Pro";
    color: rgb(37, 36, 36);
    line-height: 1.2;
}

.footer-bottom {
    padding: 18px 0;
    background: #d7d1dc;
    margin-top: 25px;
}

.container-fluid {
    padding-right: 32px;
    padding-left: 32px;
    margin-right: auto;
    margin-left: auto;
}

.quantity {
    position: absolute;
    left: 0;
    top: 0;
}

li.sbmt p {
    position: relative;
    left: -33px;
    top: 3px;
}

.sbmt input {
    background-color: rgb(255, 255, 255);
    box-shadow: -0.684px 1.879px 6px 0px rgba(0, 0, 0, 0.23);
    width: 81px;
    height: 27px;
    border-radius: 51px;
    padding: 0 0 0 55px;
    border: unset;
}

textarea:focus,
input:focus {
    outline: none;
}

.qty.qty1 {
    left: -126px;
    z-index: 9;
    top: 7px;
    display: inline-block;
    width: 26px;
}


/*

Homepage Css*/

.sticky {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999 !important;
}

.sticky .top-section {
    display: none;
}

.banner .item {
    height: 210px;
    padding-left: 0;
}


/* .banner .item {
    height: unset;
    padding-left: 0;
} */

.banner .item .caption {
    position: absolute;
    left: 6%;
}

.owl-carousel01 .owl-item img {
    width: unset;
    margin: auto;
}

.owl-carousel01 .owl-item p {
    text-align: center;
    font-size: 13px;
    color: #000;
    font-weight: 600;
    margin-bottom: 0;
    font-weight: 500;
}

.deals {
    padding: 30px 0;
    background: #f2f2f2;
}

.p-item-box {
    height: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.margin-bot-0 {
    margin-bottom: 0;
}

.left-box h4 {
    font-size: 18px;
    font-weight: 900;
}

.left-box a {
    font-size: 10px;
    font-weight: 600;
    background: #1678b9;
    padding: 6px 20px;
    border-radius: 16px;
    color: #fff;
}

#demo {
    font-size: 12px;
}

.owl-carousel01 .owl-nav {
    display: inline-block!important;
    position: absolute;
    width: 100%;
    top: 30%;
}

.owl-carousel01 .owl-nav .owl-prev {
    float: left;
    font-size: 39px!important;
    line-height: 24px!important;
}

.owl-carousel01 .owl-nav .owl-next {
    float: right;
    font-size: 39px!important;
    line-height: 24px!important;
}

.owl-carousel01.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #000;
}

.offerss .nav-tabs .nav-link {
    border: none;
    font-size: 12px;
    color: #ababab;
    padding: 11px 19px;
    border-right: 1px solid #ababab;
    border-radius: 0;
}

.offerss .nav-tabs {
    border: none;
}

.offerss .nav-tabs .nav-link.active {
    color: #307fc1;
}

.offerss {
    padding: 40px 0;
    position: relative;
}

.offer-side {
    position: absolute;
    left: -31px;
    top: 56%;
    width: 100px;
    height: 81%;
    transform: translateY(-50%);
    content: '';
    background: rgb(255, 255, 255);
    z-index: 999;
}

.offerss .myproduct.owl-carousel .owl-item img {
    display: block;
    width: 61%;
    margin: auto;
    margin-bottom: 15px;
}

.offerss .myproduct.owl-carousel .owl-item .p-subtitle {
    text-align: center;
}

.offerss .myproduct.owl-carousel .owl-item .p-subtitle span {
    color: #000;
}

.offerss .myproduct.owl-carousel .owl-item .percentage {
    right: 17px;
    text-transform: uppercase;
    line-height: 14px;
}

.offerss .myproduct.owl-carousel .owl-item li.sbmt .btn {
    margin-left: 12px;
    margin-right: 0;
}

.myproduct .owl-nav {
    display: block!important;
    position: absolute;
    /* width: 100%; */
    float: right;
    right: -22px;
    top: -12%;
}

.myproduct .owl-nav .owl-prev,
.myproduct .owl-nav .owl-next {
    /*float: right;*/
    font-size: 28px!important;
    position: relative;
    background: #fff;
    border-radius: 50%;
    width: 32px;
    box-shadow: 0px 0px 4px 0px #0003;
    height: 32px;
}

.myproduct .owl-nav .owl-prev {
    margin-right: 16px;
}

.myproduct .owl-nav .owl-next span {
    /*right: -15px;*/
    position: absolute;
    /* line-height: 2px; */
    top: -7px;
    right: 12px;
}

.myproduct .owl-nav .owl-prev span {
    /*right: 15px;*/
    position: absolute;
    /* line-height: 2px; */
    top: -7px;
    right: 12px;
}

.mostselling .owl-item .percentage {
    display: none;
}

.offerss .nav {
    margin-right: 7%;
}

.offerss .nav-tabs .nav-link.no-border {
    border: none;
}

.mostselling .product-active {
    display: block;
    padding: 51px 21px;
}

.mostselling .sbmt .qty,
.mostselling .sbmt .btn {
    display: block;
}

.mostselling .sbmt .price-w {
    width: 100%;
    min-height: 40px;
}

.mostselling .p-subtitle {
    line-height: 20px;
    color: #000;
    text-align: center;
}

.mostselling .p-subtitle span,
.box-r .p-subtitle span {
    color: #000;
}

.mostselling .sbmt select,
.box-r .sbmt select {
    margin-left: 27%;
}

.mostselling .r-p-item button,
.box-r .r-p-item button {
    background: -moz-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    background: -ms-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    width: 95px;
    height: 24px;
    line-height: 0;
    border-radius: 51px;
    margin-top: 13px;
}

.mostselling .owl-item img {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    height: 100%;
}

.most-selling {
    padding: 40px 40px;
}

.mostselling .owl-item .percentage img {
    width: 100%;
}

.mostselling .owl-item .percentage {
    width: unset;
    height: unset;
    background: transparent;
    right: 2px;
    top: 0;
}

.boxxx {
    padding-top: 20px;
}

.mostselling .owl-nav {
    display: flex!important;
    position: absolute;
    width: 100%;
    float: right;
    right: 0;
    top: -72px;
    justify-content: space-between;
}

.mostselling .owl-nav .owl-prev,
.mostselling .owl-nav .owl-next {
    /*float: right;*/
    font-size: 28px!important;
    position: relative;
    background: #fff;
    border-radius: 50%;
    width: 32px;
    box-shadow: 0px 0px 4px 0px #0003;
    height: 32px;
}

.mostselling .owl-nav .owl-prev {
    left: 22%;
}

.mostselling .owl-nav .owl-next {
    float: right;
    right: 22%;
}

.mostselling .owl-nav .owl-prev span {
    /* right: 15px; */
    position: absolute;
    /* line-height: 2px; */
    top: -7px;
    right: 12px;
}

.mostselling .owl-nav .owl-next span {
    /* right: -15px; */
    position: absolute;
    /* line-height: 2px; */
    top: -7px;
    right: 12px;
}

.box-l img {
    width: 175px;
}

#demo1 {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.box-l {
    padding: 25px 25px 20px 66px;
    background: #f2f2f2;
}

.box-in {
    padding: 20px;
}

.box-in p {
    color: #000;
}

.box-in del,
.red-color {
    color: #fb060d;
}

.box-in del,
.box-in span {
    font-size: 12px;
    font-weight: 700;
}

.progress {
    height: 4px;
}

.progress-bar {
    height: 3px;
    background: #fb060d;
}

.shop-more {
    border: 2px solid #f2f2f2;
    margin-bottom: 60px;
}

.box-r .nav-tabs .nav-item.show .nav-link,
.box-r .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #0003;
    border-color: none;
    padding: 0 11px;
    border-radius: 7px;
}

.box-r .nav-tabs {
    border: none;
}

.box-r .nav-tabs .nav-item .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: none;
    padding: 0 11px;
    border-radius: 7px;
}

.box-r {
    padding: 25px 25px 20px 25px;
}

.box-r .nav-tabs .nav-item {
    margin-bottom: -1px;
    margin: 15px 10px;
}

.box-r .owl-nav {
    width: 100%;
    top: 26%;
}

.box-r .owl-nav .owl-prev {
    margin-right: 16px;
    float: left;
}

.box-r .owl-nav .owl-next {
    float: right;
}

.box-r .price-w {
    width: 100%;
}

.box-r .owl-item img {
    display: block;
    width: 73%;
    margin: auto;
    margin-bottom: 20px;
}

.box-r .product-active {
    padding: 30px 24px;
}

.view-btn {
    padding: 15px 26px;
    line-height: 0;
    color: #fff;
    border-radius: 51px;
    margin-right: 25px;
    background: -webkit-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    font-size: 13px;
}


/* menu */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>a:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.dropdown-submenu>a:after {
    display: none;
    position: absolute;
}

.img-box1 img {
    width: 100%!important;
    display: inline-block;
    height: 100%!important;
}

.img-box1 {
    width: 140px!important;
    display: inline-block;
    height: 140px;
    overflow: hidden;
}

.deals .item {
    display: block;
    text-align: center;
}

ul.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dropdown:hover>.dropdown-menu {
    display: block!important;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block!important;
}

.offerss .item {
    position: relative;
}

.offerss .item::before {
    position: absolute;
    right: -31px;
    top: 50%;
    width: 1px;
    height: 100%;
    transform: translateY(-50%);
    content: '';
    background: rgb(230, 230, 230);
}

.woocommerce-cart-form img {
    max-width: unset!important;
}

td.product-thumbnail {
    height: 190px;
    width: 190px;
    margin-bottom: 25px!important;
}

h1.entry-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}

td.product-quantity {
    position: relative;
}

td.product-quantity .quantity {
    position: unset;
}

.quantity input {
    position: relative!important;
    /* top: 50%; */
}

.coupon button {
    background: -moz-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    background: -ms-linear-gradient( 0deg, rgb(8, 115, 186) 0%, rgb(167, 170, 172) 100%);
    width: 81px;
    height: 27px;
    line-height: 0;
    border-radius: 51px;
    font-size: 10px;
    font-family: "Montserrat";
    text-transform: uppercase;
    box-shadow: unset;
    border: unset;
}


/* .offer-line {

position: absolute;

right: -31px;

top: 50%;

width: 1px;

height: 100%;

transform: translateY(-50%);

content: '';

background: rgb(230, 230, 230);

} */


/* .offerss .owl-item:first-child .item:after {

display: none;

} */

.offerss .item {
    position: relative;
    padding: 0 20px;
}

.most-img-box {
    height: 140px;
    overflow: hidden;
}

.latest-image-wrap {
    height: 140px;
    overflow: hidden;
}

.latest-image-wrap img {
    width: 100%;
    height: 100%;
}

span.title-highlight {
    margin-top: 19px!important;
    display: block;
}

select#category_select {
    border-radius: 0;
    border-color: #a9cfe9;
    margin-top: 11px;
    width: 100%;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 400;
}

.custom-select:focus {
    box-shadow: unset;
}

li.dropdown-submenu i {
    position: relative;
    left: 8px;
}

.woocommerce-breadcrumb a {
    font-size: 12px!important;
    font-family: "Montserrat"!important;
    color: rgb(167, 170, 172);
}

section.product-display {
    padding: 30px 0!important;
}

.offerss .banner .item {
    height: unset!important;
}

.sadeen-product-content {}

.sadeen-product-content {
    display: inline-block;
    height: 192px;
    width: 192px;
    overflow: hidden;
    margin: 25px 0;
}

img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    /* height: 94%!important; */
    width: 100%!important;
}

li.product.type-product.post-112.status-publish.first.instock.product_cat-accesories.product_cat-brands.product_cat-saeco.has-post-thumbnail.sale.shipping-taxable.purchasable.product-type-simple {
    display: inline-block;
    text-align: center;
}

.sadeen-product-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul.price-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
    padding-right: 93px;
    align-items: center!important;
}

section.related.products h2.woocommerce-loop-product__title {
    font-size: 12px!important;
    font-family: "Montserrat"!important;
    color: rgb(0, 0, 0)!important;
    text-transform: capitalize!important;
    font-weight: 600!important;
    margin-bottom: 17px!important;
}

.price-main span.woocommerce-Price-amount.amount {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(8, 115, 186);
    font-weight: bold;
    text-transform: uppercase;
}

.price-main del span.woocommerce-Price-currencySymbol {
    color: #868686;
}

.price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}

.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}

.woocommerce-loop-product__link .img-wrap {
    text-align: center;
}

.woocommerce-loop-product__title {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    line-height: 3.333;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

ul.products.columns-4 {
    padding: 49px 0;
}

text-transform: capitalize;
font-weight: 600;

}
ul.products.columns-4 {
    padding: 49px 0;
}
text-transform: capitalize;
font-weight: 600;

}
ul.products.columns-4 {
    padding: 49px 0;
}
text-transform: capitalize;
font-weight: 600;

}
ul.products.columns-4 {
    padding: 49px 0;
}
text-transform: capitalize;
font-weight: 600;

}
ul.products.columns-4 {
    padding: 49px 0;
}
text-transform: capitalize;
font-weight: 600;

}
ul.products.columns-4 {
    padding: 49px 0;
}
text-transform: capitalize;
font-weight: 600;

}
ul.products.columns-4 {
    padding: 49px 0;
}
color: #868686;

}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
price-main del span.woocommerce-Price-amount.amount {
    color: #868686;
}
.has-sidebar.woocommerce-page:not(.error404) #primary {
    width: unset!important;
}
width: unset!important;

}
.woocommerce-loop-product__link .img-wrap {
    text-align: center;
}
.woocommerce-loop-product__title {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    line-height: 3.333;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}
ul.products.columns-4 {
    padding: 49px 0;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
td.product-name a {}
color: rgb(0,
0,
0);
margin-left:32px;

}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
td.product-name a {}
color: rgb(0,
0,
0);
margin-left:32px;

}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
td.product-name a {}
color: rgb(0,
0,
0);
margin-left:32px;

}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
td.product-name a {}
color: rgb(0,
0,
0);
margin-left:32px;

}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
td.product-name a {}
margin-left:32px;

}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}

}
ul.products.columns-4 {
    padding: 49px 0;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
td.product-name a {}
ul.wish-list li {
    display: flex;
    justify-content: center;
    align-items: center;
}
1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left:32px;
}
h1.woocommerce-products-header__title.page-title {
    font-size: 35px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    margin-left: 32px;
    margin-top: 33px;
    font-weight: 800;
}
td.product-name a {}
ul.wish-list li {
    display: flex;
    justify-content: center;
    align-items: center;
}
td.product-thumbnail a {
    display: block;
    width: 109px;
}
td.product-name a {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(0,
    0,
    0);
    font-weight: 600;
}
label.screen-reader-text {
    display: none;
}
th {
    font-size: 15px!important;
    /* min-width: 99px; */
}
.entry-content .qty {
    right:0!important;
}
footer {
    padding-top: 36px;
    border-top: 1px solid #c0bebe;
}
span.wishlist_products_counter_number {
    position: relative;
    left: -19px;
}
h1.entry-title {
    margin-left: 0;
}
.entry-content button.button {
    background: -moz-linear-gradient( 0deg,
    rgb(8,
    115,
    186) 0%,
    rgb(167,
    170,
    172) 100%);
    background: -webkit-linear-gradient( 0deg,
    rgb(8,
    115,
    186) 0%,
    rgb(167,
    170,
    172) 100%);
    background: -ms-linear-gradient( 0deg,
    rgb(8,
    115,
    186) 0%,
    rgb(167,
    170,
    172) 100%);
    width:unset;
    height: 27px;
    line-height: 0;
    border-radius: 51px;
    font-size: 10px;
    font-family: "Montserrat";
    text-transform: uppercase;
    box-shadow: unset;
    border: unset;
    border: unset;
    padding: 18px 18px;
    white-space: nowrap;
}
input#coupon_code {
    font-size: 13px;
    color: gray;
    border: 1px solid #f8eeee!important;
    ;
}
body .woocommerce a.checkout-button.button.alt {
    border-radius: 40px;
    border: unset;
}
a.checkout-button.button.alt.wc-forward {
    padding: 10px 13px;
}
.wc-proceed-to-checkout {
    width: 68%;
    border: unset;
}
a.remove {
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: 0.85!important;
    font-size: 15px;
    text-align: center;
    border-radius: 100%;
    box-shadow: none!important;
    border: 1px solid #aaa3a3!important;
}
body #add_payment_method table.cart td,
body #add_payment_method table.cart th,
body.woocommerce-cart table.cart td,
body.woocommerce-cart table.cart th,
body.woocommerce-checkout table.cart td,
body.woocommerce-checkout table.cart th {
    border-right: 1px solid #e6e6e699!important;
}
.woocommerce-cart .woocommerce table.shop_table th {
    border-bottom: 1px solid #e6e6e699!important;
}
.woocommerce-cart-form .quantity input {
    width: 4em;
    border-radius: 46px;
    border: 0.9px solid #d4d4d4;
    padding: 2px 7px;
}
header.entry-header {
    margin-bottom: 45px;
}

li.sbmt del span {
    font-size: 12px!important;
    color: gray!important;
    margin-right: 4px!important;
}
li.sbmt del  {
    font-size: 12px!important;
    color: gray!important;
    margin-right: 4px!important;
}